@model OhioVoter.ViewModels.Home.CalendarViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Important Election Dates</p>
    </div>

    <div class="panel-body panel-main-body">

        <table class="calendar">

            <tr>
                <th>
                    Date
                </th>
                <th>
                    Description
                </th>
            </tr>
            
            @foreach (var item in Model.ElectionDates)
            {
                <tr>
                    <td class="date">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }

        </table>
        
        <p>
            @Html.ActionLink("Full Election Calender", "ViewFullElectionCalendar", "Home", new { fileName = Model.FullElectionCalenderFile }, new { target = "_blank", id = "calender_btn", @class = "btn btn-block panel-main-btn" })
            <br />
            @Html.ActionLink("Sign up for monthly reminders", "EmailSignUp", "Home")
        </p>

    </div>

</div>

