@model IEnumerable<OhioVoter.Models.ElectionDate>

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Important Election Dates</p>
    </div>

    <div class="panel-body panel-main-body">

        <table class="calendar">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="date">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }

        </table>

        <p>
            <a href="~/Content/images/2017_OhioElectionCalendar.pdf" target="_blank" class="btn btn-calendar panel-main-btn">View all the dates for current election year &raquo;</a><br />
            <br />
            <a href="#"> Sign up to receive emailed reminders </a>
        </p>

    </div>

</div>

