@model OhioVoter.ViewModels.Home.PollViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p> OhioVoter.org Poll </p>
    </div>

    <div id="poll-graph" class="panel-body panel-main-body">

        <input type="text" name="VotingDate" id="voting_date_id" value="@Model.ElectionDate" style="display: none;" />

        <div id="poll-graph-title">
            <table>
                <tr>
                    <td id="poll-graph-title-date"><b>Election Date:</b></td>
                    <td>@Model.ElectionDate</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.SelectedElectionOfficeId, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Html.DropDownListFor(x => x.SelectedElectionOfficeId, Model.ElectionOfficeNames, new { id = "poll_graph_office_lookup", @class = "form-control" })</td>
                </tr>
            </table>
        </div>

        <hr />

        <div id="poll-graph-candidates">
            @if (Model.CandidateVotes.Count() > 0)
            {
                Html.RenderPartial("_PollGraph", Model.CandidateVotes);
            }
            else
            {
                Html.RenderPartial("_PollGraphEmpty", Model.CandidateVotes);
            }
        </div>

    </div>

</div>
