@{
    ViewBag.Title = "Home Page";
}


<div class="row">

    <div class="col-sm-4">

        <div class="panel-group panel-left-group">
            <div class="panel panel-left">
                <div class="panel-title panel-left-title">
                    <p>Your Location</p>
                </div>
                <div class="panel-body panel-left-body">
                    <h4> Enter an address to personalize your Ohio voting information. </h4>
                    <br />
                    <form class="panel-left-form-text" method="post">
                        <label> Street Address: </label><br />
                        <input type="text" name="street" value="ENTER: Street Address" /><br />
                        <label> City: </label><br />
                        <input type="text" name="city" value="ENTER: City" /><br />
                        <label> State: </label><br />
                        <input type="text" name="state" value="ENTER: State" /><br />
                        <label> Zip Code: </label><br />
                        <input type="text" name="zipcode" value="ENER: Zip Code" /><br />
                        <br />
                        <button class="btn btn-block panel-left-btn"> Update Your Location </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel-group panel-left-group">
            <div class="panel panel-left">
                <div class="panel-title panel-left-title">
                    <p>General Information</p>
                </div>
                <div class="panel-body panel-left-body">
                    <p>
                        Secretary of State <br />
                        180 East Broad Street <br />
                        Columbus, Ohio 43215 <br />
                        Phone: (614) 466-2655 <br />
                        <a href="http://www.sos.state.oh.us/SOS/" target="_blank"> www.sos.state.oh.us </a>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-8">

        <div class="panel-page-group">
            <h2><p class="panel-page-title"> Voter Bulletin Board </p></h2>
        </div>

        <div class="panel-group panel-main-group">
            <div class="panel panel-main">
                <div class="panel-title panel-main-title">
                    <p>Mark Your Calendars</p>
                </div>
                <div class="panel-body panel-main-body">
                    <p>
                        <dl class="dates">
                            <dt>November 8, 2016</dt>
                            <dd>General Election Day. Polls open from 6:30 a.m. to 7:30 p.m.</dd>
                            <dt>November 18, 2016</dt>
                            <dd>Absentee ballots returned by U.S. Mail must be postmarked no later than Nov. 7 and received by boards of elections by this date to be counted.</dd>
                            <dd>UOCAVA absentee ballots must be received by boards of elections by this date to be counted.</dd>
                            <dt>January 1, 2017</dt>
                            <dd>Applications for absentee ballots for all elections held in 2017 may be accepted.</dd>
                        </dl>
                    </p>
                    <p>
                        <a href="#" class="btn panel-main-btn">See More Dates &raquo;</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="panel-group panel-main-group">
            <div class="panel panel-main">
                <div class="panel-title panel-main-title">
                    <p> OhioVoter.org Poll </p>
                </div>
                <div class="panel-body panel-main-body">
                    <img src="~/Content/images/graph_candidates.jpg" width="525" height="259" alt="graph - total votes each candidate received">
                </div>
            </div>
        </div>

        <div class="panel-group panel-main-group">
            <div class="panel panel-main">
                <div class="panel-title panel-main-title">
                    <p>Current Political News </p>
                </div>
                <div class="panel-body panel-main-body">
                    <a href="http://www.cnn.com/2016/11/06/politics/comey-tells-congress-fbi-has-not-changed-conclusions/index.html" target="_blank">
                        <img src="~/Content/images/news_cnn.jpg" width="525" height="259" alt="CNN News">
                    </a>
                    <a href="http://www.foxnews.com/politics.html" target="_blank">
                        <img src="~/Content/images/news_fox.jpg" width="525" height="259" alt="FOX News">
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>