@model OhioVoter.ViewModels.HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div id="side-bar" class="col-sm-4">

        <div id="voter-location">
            @{
                if (Model.SideBar.VoterLocation.Status == null || Model.SideBar.VoterLocation.Status == "" || Model.SideBar.VoterLocation.Status == "Update")
                {
                    Html.RenderPartial("_VoterLocationForm", Model.SideBar);
                }
                else
                {
                    Html.RenderPartial("_VoterLocation", Model.SideBar);
                }
            }
        </div>

        <div id="voter-general-information">
            @{Html.RenderPartial("_VoterGeneralInformation", Model.SideBar);}
        </div>

    </div>


    <div class="col-sm-8">

        <div class="panel-page-group">
            <h2><p class="panel-page-title"> Voter Bulletin Board </p></h2>
        </div>

        <div class="electioncalendar">
            @{Html.RenderPartial("_ElectionCalendar", Model.Calendar.ElectionDates);}
        </div>


        <div class="panel panel-group panel-main panel-main-group">
            <div class="panel-title panel-main-title">
                <p> OhioVoter.org Poll </p>
            </div>
            <div class="panel-body panel-main-body">
                <img src="~/Content/images/graph_candidates.jpg" width="525" height="259" alt="graph - total votes each candidate received">
            </div>
        </div>


        <div class="cnn-political-rss">
            @{Html.RenderPartial("_CnnPoliticalRss", Model.CnnRssFeed);}
        </div>

        <div class="Foxnews-political-rss">
            @{Html.RenderPartial("_FoxNewsPoliticalRss", Model.FoxNewsRssFeed);}
        </div>

    </div>

</div>