@model OhioVoter.ViewModels.HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div id="side-bar" class="col-sm-4">

        <div id="voter-location">
            @{
                if (Model.SideBar.VoterLocation.Status == null || Model.SideBar.VoterLocation.Status == "" || Model.SideBar.VoterLocation.Status == "Update")
                {
                    Html.RenderPartial("_VoterLocationForm", Model.SideBar);
                }
                else
                {
                    Html.RenderPartial("_VoterLocation", Model.SideBar);
                }
            }
        </div>

        <div id="voter-general-information">
            @{Html.RenderPartial("_VoterGeneralInformation", Model.SideBar);}
        </div>

    </div>


    <div class="col-sm-8">

        <div class="panel-page-group">
            <h2><p class="panel-page-title"> Voter Bulletin Board </p></h2>
        </div>

        <div class="election-calendar">
            @{Html.RenderPartial("_Calendar", Model.Calendar.ElectionDates);}
        </div>

        <div class="election-poll">
            @{Html.RenderPartial("_Poll", Model.Poll);}
        </div>

        <div class="rss-news">
            @{Html.RenderPartial("_RssFeeds", Model);}
        </div>

    </div>

</div>