@model OhioVoter.ViewModels.Home.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}

<div class="row">

    <div id="side-bar" class="col-sm-4">

        <div id="voter-location">
            @{Html.RenderAction("DisplayVoterLocationSideBar", "Location", Model.SideBarViewModel);}
        </div>

        <div id="voter-general-information">
            @{Html.RenderAction("DisplayGeneralLocationSideBar", "Location", Model.SideBarViewModel);}
        </div>

    </div>

    <div class="col-sm-8">

        <div class="panel-page-group">
            <h2><p class="panel-page-title"> Voter Bulletin Board </p></h2>
        </div>

        <div class="election-calendar">
            @{Html.RenderPartial("_Calendar", Model.Calendar.ElectionDates);}
        </div>

        <div class="election-poll">
            @{Html.RenderPartial("_Poll", Model.Poll);}
        </div>

        <div class="rss-news">
            @{Html.RenderPartial("_RssFeeds", Model.RssFeeds);}
        </div>

    </div>

</div>
