@model OhioVoter.ViewModels.Issue.IssueDisplayViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Issue List</p>
    </div>

    <div id="issue_list" class="panel-body panel-main-body">

        <table class="table">

            @for (int i = 0; i < Model.Issues.Count; i++)
            {
                var item = Model.Issues[i];

                <tr>
                    <td>
                        @Html.HiddenFor(x => Model.Issues[i].Id)
                        @Html.DisplayFor(x => Model.Issues[i].Title)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Index", new { votingDateId = Model.DateId, countyId = Model.CountyId, communityId = Model.CommunityId, issueId = item.Id }, null)
                    </td>
                </tr>
            }

        </table>

    </div>

</div>
