@model OhioVoter.ViewModels.Issue.IssueViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Issue Page";
}

<div class="row">

    <div id="side-bar" class="col-sm-4">
        @{Html.RenderAction("DisplaySideBar", "Location", Model.ControllerName as string);}
    </div>

    <div class="col-sm-8">

        <div class="panel-page-group">
            <h2><p class="panel-page-title"> Ballot Measure Knowledge Center </p></h2>
        </div>

        <div id="issue_lookup_group"class="panel panel-group panel-main panel-main-group">
                @{ Html.RenderPartial("_IssueLookUp", Model.IssueLookUpViewModel);}
        </div>

        @{ if (Model.IssueLookUpViewModel.VotingDateId != 0 && Model.IssueLookUpViewModel.SelectedCountyId != "0")
            {
                <div id="issue_display" class="issue_Information">
                    @{Html.RenderAction("DisplayIssueInformation", "Issue", Model);}
                </div>
            }
        }

    </div>

</div>
