 body {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}






.background-blue-dark {
    background-color: #006ddb;
}

.background-blue-medium {
    background-color: #9ebcdb;
}

.background-blue-light {
    background-color: #dee9f4;
}

.background-red {
    background-color: #db1116;
}



hr {
    border-color: #9ebcdb;
    background-color: #9ebcdb;
    color: #9ebcdb;
}



.header {
    margin-top: 0px;
}

.logo-img {
    width: 75px;
    height: 75px;
    float: left;
}

.logo-title {
    color: #db1116;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: .25em;
}

.header_statement {
    font-style: italic;
    font-size: 1.25em;
    float: right;
    margin-top: -35px;
}




.navbar-logo {
    min-width: 200px;
}

.navbar-logo-img {
    width: 50px;
    height: 50px;
    float: left;
}

.navbar-logo-title {
    color: white;
    font-weight: bold;
}

.navbar-main {
    background-color: #006ddb;
    border-color: #006ddb;
}

#navbar-nav-link li a {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

#navbar-nav-link li a:hover {
    color: #9ebcdb;
    font-weight: bold;
}






.panel-left {
    border-color: #9ebcdb;
}

.panel-left #voter-map img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin-top: 5px;
    margin-bottom: 5px;
}

.panel-left-body {
    background-color: #dee9f4;
    text-align: center;
}

.panel-left-btn {
    background-color: #006ddb;
    color: white;
}

.panel-left-group {
    margin-bottom: 10px;
}

.panel-left-form-label {
    text-align: right;
}

.panel-left-form-layout {
    width: auto;
}

.panel-left-form-text {
    text-align: left;
}

.panel-left-form-text input{
    width: 100%;
    margin-bottom: 10px;
}

.panel-left-title {
    background-color: #9ebcdb;
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
    font-weight: bold;
}







.panel-main {
    border-color: #9ebcdb;
}

.panel-main-body {
    background-color: #dee9f4;
    text-align: left;
}

.panel-main-body #calender_btn {
    width: 60%;
    height: auto;
    white-space: normal;
}

.panel-main-body .calendar {
    margin-bottom: 10px;
}

.panel-main-body .calendar .date {
    vertical-align: top;
    padding-right: 10px;
}

.panel-main-body .calendar .description {
    padding-bottom: 10px;
}






.panel-main-body .graph {
    width: 100%;
    border: 1px solid #aeaeae;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.panel-main-body .graph-title table {
    margin-bottom: 10px;
    width: 100%;
}

.panel-main-body .graph-title .row-title {
    text-align: right;
}

.panel-main-body .graph-row {
    padding: 10px 5px 10px 5px;
}

.panel-main-body .graph-row-img {
    float: left;
    padding-right: 5px;
}

.panel-main-body .graph-row-img img{
    height: 50px;
    width: 50px;
}

.panel-main-body .graph-row-vote-count {
    height: 20px;
}

.panel-main-body .graph-row-candidate-name {
    height: 20px;
}

.panel-main-body .graph-row-bar {
    height: 10px;
    left: 55px;
    margin: 1px;
    display: block;
    position: relative;
    background-color: #aeaeae;
}





.panel-main-body .rss-channel {
    padding-bottom: 10px;
    font-size: 1.5em;
}

.panel-main-btn {
    background-color: #006ddb;
    color: white;
}





.panel-main-group {
    margin-bottom: 20px;
}

.panel-main-title {
    background-color: #9ebcdb;
    padding: 10px 10px 1px 10px;
    text-align: center;
    font-weight: bold;
}

.panel-main-title img {
    max-width: 100%;
    height: auto;
}

.panel-page-title {
    color: #db1116;
    padding-bottom: 15px;
    text-align: center;
}







/* #candidate_display */

/* #candidate_lookup_group */

#candidate_lookup_form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* candidate_lookup_date */

#candidate_lookup_fields {
    padding-bottom: 10px;
}

#candidate_lookup_table {
    text-align: left;
}

#candidate_lookup_office {
    max-width: 80%;

}

#candidate_lookup_name {

}






#candidate_list_group {
    background: #dee9f4;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#candidate_list_loading {
    display: none;
}

#candidate_list_select, 
#candidate_list_loading,
#candidate_list_search {
    background: #dee9f4;
    margin-left: 10px;
    margin-right: 10px;
}

#candidate_list_select table,
#candidate_list_loading table,
#candidate_list_search table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#candidate_list_select tr,
#candidate_list_loading tr,
#candidate_list_search tr {
    vertical-align: middle;
    border-top: 1px solid #9ebcdb;
}

.candidate_list_photo {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    width: 95px;
}

.candidate_list_img {
    width: 40px;
}

.candidate_list_candidate {
    width: 30%;
}

.candidate_list_party {
    padding-right: 10px;
    width: 10%;
}

.candidate_list_office {
    width: 70%;
}





/* #candidate_summary_group */

#candidate_summary {
    text-align: center;
}

#candidate_summary_message {
    text-align: left;
}

#candidate_summary_candidate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-width: 80%;
    max-width: 80%;
    vertical-align: top;
}

#candidate_summary_candidate_with_runningmate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-width: 40%;
    max-width: 40%;
    vertical-align: top;
}

#candidate_summary_runningmate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-width: 40%;
    max-width: 40%;
    vertical-align: top;
}

#candidate_summary_img {
    width: 90px;
    margin-bottom: 10px;
}

#candidate_summary_img_not_selected{
    width: 90px;
    filter: opacity(30%);
}

#candidate_summary_btn {
    float: none;
}

#candidate_summary_new_btn {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#candidate_summary_compare_btn {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}









/* candidate_compare */
#candidate_compare_summary_group,
#candidate_compare_political_group,
#candidate_compare_caucus_group,
#candidate_compare_professional_group,
#candidate_compare_education_group,
#candidate_compare_personal_group,
#candidate_compare_religion_group,
#candidate_compare_additional_group {

}

#candidate_compare_summary_date {
    text-align: center;
}

#candidate_compare_summary,
#candidate_compare_political,
#candidate_compare_caucus,
#candidate_compare_professional,
#candidate_compare_education,
#candidate_compare_personal,
#candidate_compare_civic,
#candidate_compare_additional {
    vertical-align: bottom;
    width: 100%;
    display: flex;
}




#candidate_compare_summary_first_group {
    min-width: 50%;
    max-width: 50%;
    text-align: center;
    float: left;
    padding-right: 10px;
}

#candidate_compare_political_first_group,
#candidate_compare_caucus_first_group,
#candidate_compare_professional_first_group,
#candidate_compare_education_first_group,
#candidate_compare_personal_first_group,
#candidate_compare_civic_first_group,
#candidate_compare_additional_first_group {
    min-width: 50%;
    max-width: 50%;
    text-align: left;
    float: left;
    padding-right: 10px;
}

#candidate_compare_summary_first_candidate,
#candidate_compare_summary_second_candidate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-width: 90%;
    max-width: 90%;
    vertical-align: top;
}

#candidate_compare_summary_first_candidate_with_runningmate,
#candidate_compare_summary_second_candidate_with_runningmate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-width: 45%;
    max-width: 45%;
    vertical-align: top;
}

#candidate_compare_summary_first_runningmate,
#candidate_compare_summary_second_runningmate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    min-width: 45%;
    max-width: 45%;
    vertical-align: top;
}

#candidate_compare_summary_first_img,
#candidate_compare_summary_second_img  {
    width: 90px;
    margin-bottom: 10px;
}

#candidate_compare_summary_first_img_not_selected,
#candidate_compare_summary_second_img_not_selected {
    width: 90px;
    filter: opacity(30%);
    margin-bottom: 10px;
}


#candidate_compare_summary_first_btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
}





#candidate_compare_summary_second_group {
    min-width: 50%;
    max-width: 50%;
    text-align: center;
    float: right;
    padding-left: 10px;
    border-left: thick double #9ebcdb;
}

#candidate_compare_political_second_group,
#candidate_compare_caucus_second_group,
#candidate_compare_professional_second_group,
#candidate_compare_education_second_group,
#candidate_compare_personal_second_group,
#candidate_compare_civic_second_group,
#candidate_compare_additional_second_group {
    min-width: 50%;
    max-width: 50%;
    text-align: left;
    float: right;
    padding-left: 10px;
    border-left: thick double #9ebcdb;
}

#candidate_compare_summary_second_btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
}





#candidate_compare_summary_lookup {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: bottom;
}

#candidate_compare_summary_lookup form{

}

#candidate_compare_summary_lookup_candidate {
}

#candidate_compare_lookup_second_dropdown {
        margin-left: auto;
    margin-right: auto;

}

#candidate_compare_summary_lookup_btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
}

#candidate_compare_summary_lookup_hidden {
    display: none;
}









/* #issue_lookup_group */

/* #issue_lookup */ 

#issue_lookup_date {
    text-align: center;
}

#issue_lookup_table {
    margin-left: auto;
    margin-right: auto;
}

/* .issue_lookup_date_label */

/* #issue_lookup_county_label */ 

/* #issue_lookup_community_label */ 

/* #issue_lookup_dropdown */ 




/* #issue_list */

/* #issue_list_table */







#issue_details #issue_detail_title {
    font-weight: bold;
}







#voter_location_form_address, 
#voter_location_form_zipcode {
    float: left;
    width: 100%;
}

#voter_location_form_address .control-label,
#voter_location_form_zipcode .control-label {
    float: left;
    width: 100%;
}

#voter_location_form_address .form-control,
#voter_location_form_zipcode .form-control {
    float: left;
    max-width: 100%;
}

.voter_location_form_btn {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}





#ballot_lookup_body p {
    text-align: center;
}

#ballot_location_form_address, 
#ballot_location_form_zipcode {
    text-align: center;
}

#ballot_location_form_address .form-control,
#ballot_location_form_zipcode .form-control {
    margin-left: auto;
    margin-right: auto;
}

.ballot_location_form_btn, 
.voter_location_update_btn, 
.polling_map_show_btn, 
.polling_map_hide_btn {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.ballot_location_form_msg {
    text-align: center;
}



#ballot_title{

}

#ballot_date {
    text-align: center;
}

#ballot_information table {
    margin-right: auto; 
    margin-left: auto;
    width: 80%;
}

#ballot_date_label {
    text-align: right; 
    padding-right: 10px;
    vertical-align: middle;
}

#ballot_email_label,
#ballot_precinct_label {
    text-align: right; 
    padding-right: 10px;
    vertical-align: middle;
}

#ballot_precinct_value {
    padding-left: 10px;
}

#ballot_email_input {

}

#ballot_send {
}

#ballot_send_button {
    display: block;
    margin: auto;
    width: 160px;
}





/* ballot title */
.ballot_office {
    height: 100%;
    background: #dee9f4;
}

.ballot_office_title, 
.ballot_issue_title {
    min-height: 70px;
}

.ballot_office_checkbox img, 
.img_ballot_issue {
    float: left;
    vertical-align: middle;
    width: 50px; 
    height: 50px;
}

.ballot_office_candidate_display {

}

.show_ballot_office, 
.show_ballot_issue {
    float: right;
    vertical-align: middle;
    display: block;
    min-width: 65px;
    min-height: 50px;
}

.hide_ballot_office, 
.hide_ballot_issue {
    float: right;
    vertical-align: middle;
    display: none;
    min-width: 65px;
    min-height: 50px;
}




/* ballot office & candidates */
.ballot_office_candidates {
    display: none;
    width: 100%;
}

/* listed/writein candidate tables */
.ballot_candidate_group {
    width: 100%;
    border-bottom: 1px solid #9ebcdb;
}
.ballot_candidate_Instruction {
    font-weight: bold;
    padding-bottom: 15px;
}

.ballot_candidate {
    border-top: 1px solid #9ebcdb;
    padding-top: 50px;
    padding-bottom: 5px;
    width: 100%;
}

.ballot_candidate_selected {
    padding-left: 10px;
    padding-right:5px;
    width: 5%;
}

.ballot_candidate_photo img,
.ballot_runningmate_photo img {
    margin-top: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
    width: 3.5em;
    height: 3.5em;
}

.ballot_candidate_name, 
.ballot_runningmate_name {
    width: 50%;
}

.ballot_candidate_party, .ballot_runningmate_party {
    width: 30%;
}

.ballot_candidate_view, .ballot_runningmate_view {
    text-align: right;
}

.show_writein_candidate {
    display: none;
    min-width: 200px;
    margin-top: 20px;
}

.hide_writein_candidate {
    display: block;
    min-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}





.ballot_issue_information {
    display: none;
}





footer {
    background-color: #006ddb;
    border-color: #006ddb;
    border-radius: 4px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


@media (min-width: 768px) {

    .header {
        display: inherit;
    }

    .navbar-logo-img {
        display: none;
    }

    .navbar-logo-title {
        display: none;
    }

    .navbar-header {
        display: none;
    }
}

@media (max-width: 767px) {

    .header {
        display: none;
    }

    .navbar-logo-img {
        display: inherit;
    }

    .navbar-logo-title {
        display: inherit;
    }

    .navbar-header {
        display: inherit;
    }


    #candidate_compare_summary_first_img,
    #candidate_compare_summary_second_img  {
        width: 60px;
    }

    #candidate_compare_summary_first_img_not_selected,
    #candidate_compare_summary_second_img_not_selected {
        width: 60px;
    }

}



@media (max-width: 480px) {

    .header {
        display: none;
    }

    .navbar-logo-img {
        display: inherit;
    }

    .navbar-logo-title {
        display: inherit;
    }

    .navbar-header {
        display: inherit;
    }


    #candidate_list_select {
        font-size: smaller;
    }

    .candidate_list_photo {
        width: 35px;
    }

    .candidate_list_img {
        width: 20px;
    }

    #candidate_compare_summary_first_group,
    #candidate_compare_summary_second_group {
        font-size: x-small;
    }

}