 body {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}






.background-blue-dark {
    background-color: #006ddb;
}

.background-blue-medium {
    background-color: #9ebcdb;
}

.background-blue-light {
    background-color: #dee9f4;
}

.background-red {
    background-color: #db1116;
}






.header {
    margin-top: 0px;
}

.logo-img {
    width: 75px;
    height: 75px;
    float: left;
}

.logo-title {
    color: #db1116;
    font-weight: bold;
}




.navbar-logo {
    min-width: 200px;
}

.navbar-logo-img {
    width: 50px;
    height: 50px;
    float: left;
}

.navbar-logo-title {
    color: white;
    font-weight: bold;
}

.navbar-main {
    background-color: #006ddb;
    border-color: #006ddb;
}

#navbar-nav-link li a {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

#navbar-nav-link li a:hover {
    color: #9ebcdb;
    font-weight: bold;
}






.panel-left {
    border-color: #9ebcdb;
}

.panel-left #voter-map img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin-top: 5px;
    margin-bottom: 5px;
}

.panel-left-body {
    background-color: #dee9f4;
    text-align: center;
}

.panel-left-btn {
    background-color: #006ddb;
    color: white;
}

.panel-left-group {
    margin-bottom: 10px;
}

.panel-left-form-label {
    text-align: right;
}

.panel-left-form-layout {
    width: auto;
}

.panel-left-form-text {
    text-align: left;
}

.panel-left-form-text input{
    width: 100%;
    margin-bottom: 10px;
}

.panel-left-title {
    background-color: #9ebcdb;
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
    font-weight: bold;
}







.panel-main {
    border-color: #9ebcdb;
}

.panel-main-body {
    background-color: #dee9f4;
    text-align: left;
}

.panel-main-body #calender_btn {
    width: 60%;
    height: auto;
    white-space: normal;
}

.panel-main-body .calendar {
    margin-bottom: 10px;
}

.panel-main-body .calendar .date {
    vertical-align: top;
    padding-right: 10px;
}

.panel-main-body .calendar .description {
    padding-bottom: 10px;
}






.panel-main-body .graph {
    width: 100%;
    border: 1px solid #aeaeae;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.panel-main-body .graph-title table {
    margin-bottom: 10px;
    width: 100%;
}

.panel-main-body .graph-title .row-title {
    text-align: right;
}

.panel-main-body .graph-row {
    padding: 10px 5px 10px 5px;
}

.panel-main-body .graph-row-img {
    float: left;
    padding-right: 5px;
}

.panel-main-body .graph-row-img img{
    height: 50px;
    width: 50px;
}

.panel-main-body .graph-row-vote-count {
    height: 20px;
}

.panel-main-body .graph-row-candidate-name {
    height: 20px;
}

.panel-main-body .graph-row-bar {
    height: 10px;
    left: 55px;
    margin: 1px;
    display: block;
    position: relative;
    background-color: #aeaeae;
}





.panel-main-body .rss-channel {
    padding-bottom: 10px;
    font-size: 1.5em;
}

.panel-main-btn {
    background-color: #006ddb;
    color: white;
}





.panel-main-group {
    margin-bottom: 20px;
}

.panel-main-title {
    background-color: #9ebcdb;
    padding: 10px 10px 1px 10px;
    text-align: center;
    font-weight: bold;
}

.panel-main-title img {
    max-width: 100%;
    height: auto;
}

.panel-page-title {
    color: #db1116;
    padding-bottom: 15px;
    text-align: center;
}







/* #candidate_display */

/* #candidate_lookup_group */

#candidate_lookup_btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}

#candidate_lookup_candidate{
    display: inline-block;
}

#candidate_lookup_dropdown {
    top: 100%;
}

#candidate_lookup_label {
    float: left;
}

#candidate_lookup_form {
    text-align: center;
    display: block;
}





/* #candidate_summary_group */

#candidate_summary {
    text-align: center;
}

#candidate_summary_candidate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#candidate_summary_runningmate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#candidate_summary_img {
    width: 90px;
    margin-bottom: 10px;
}

#candidate_summary_btn {
    float: none;
}

#candidate_summary_new_btn {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#candidate_summary_compare_btn {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}









/* #candidate_compare_summary_group */

#candidate_compare_summary {
    vertical-align: bottom;
}

#candidate_compare_summary_first_group 

#candidate_compare_summary_first {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 45%;
}

#candidate_compare_summary_first_candidate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#candidate_compare_summary_first_runningmate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#candidate_compare_summary_first_img {
    width: 90px;
    margin-bottom: 10px;
}

#candidate_compare_summary_first_btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}






/* #candidate_compare_summary_second_group */


#candidate_compare_summary_second {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: right;
    width: 45%;
}

#candidate_compare_summary_second_candidate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#candidate_compare_summary_second_runningmate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#candidate_compare_summary_second_img {
    width: 90px;
    margin-bottom: 10px;
}

#candidate_compare_summary_second_btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}





#candidate_compare_summary_lookup {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: right;
    width: 45%;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
}

#candidate_compare_summary_lookup_candidate {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#candidate_compare_summary_lookup_btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}

#candidate_compare_summary_lookup_hidden {
    display: none;
}





/* #candidate_compare_political_group */

/* #candidate_compare_political */ 

.candidate_compare_first_group {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 50%;
    padding-right: 15px;
    word-wrap: break-word;
}

.candidate_compare_second_group {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    float: right;
    width: 50%;
    padding-left: 15px;
    border-left: thick double #9ebcdb;
}






/* #issue_lookup_group */

/* #issue_lookup */ 

#issue_lookup_table {
    margin-left: auto;
    margin-right: auto;
}

/* .issue_lookup_date_label */

/* #issue_lookup_county_label */ 

/* #issue_lookup_community_label */ 

/* #issue_lookup_dropdown */ 




/* #issue_list */

/* #issue_list_table */







#issue_details #issue_detail_title {
    font-weight: bold;
}






footer {
    background-color: #006ddb;
    border-color: #006ddb;
    border-radius: 4px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


@media (min-width: 768px) {

    .header {
        display: inherit;
    }

    .navbar-logo-img {
        display: none;
    }

    .navbar-logo-title {
        display: none;
    }

    .navbar-header {
        display: none;
    }
}

@media (max-width: 767px) {

    .header {
        display: none;
    }

    .navbar-logo-img {
        display: inherit;
    }

    .navbar-logo-title {
        display: inherit;
    }

    .navbar-header {
        display: inherit;
    }
}