@model OhioVoter.ViewModels.Candidate.CandidateComparePoliticalViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p> Political Experience </p>
    </div>

    <div id="candidate_compare_political" class="panel-body panel-main-body">

        <div id="candidate_compare_political_first_group" class="candidate_compare_first_group">
            @{Html.RenderPartial("_CandidateComparePoliticalFirst", Model.CandidateComparePoliticalFirstViewModel);}
        </div>

        <div id="candidate_compare_political_second_group" class="candidate_compare_second_group">
            @{if (@Model.CandidateComparePoliticalSecondViewModel.CandidateDisplayId > 0)
                {
                    Html.RenderPartial("_CandidateComparePoliticalSecond", Model.CandidateComparePoliticalSecondViewModel);
                }
            }
        </div>

    </div>

</div>