@model OhioVoter.ViewModels.Candidate.CandidateCompareAdditionalSecondViewModel

@{ if (Model.CandidateDisplayId == Model.CandidateId)
    {
        foreach (var line in @Model.CandidateAdditionalInformation)
        {
            <p>@line</p>
        }
    }
    else if (Model.CandidateDisplayId == Model.RunningMateId)
    {
        foreach (var line in @Model.RunningMateAdditionalInformation)
        {
            <p>@line</p>
        }
    }
}

