@model OhioVoter.ViewModels.Candidate.CandidateViewModel


<div id="candidate-summary" class="candidate-group">
    @{Html.RenderPartial("_summary", Model);}
</div>

<div id="candidate-office" class="candidate-group">
    @{Html.RenderPartial("_Office");}
</div>

<div id="candidate-political" class="candidate-group">
    @{Html.RenderPartial("_Political", Model);}
</div>

<div id="candidate-caucus" class="candidate-group">
    @{Html.RenderPartial("_Caucus", Model);}
</div>

<div id="candidate-professional" class="candidate-group">
    @{Html.RenderPartial("_Professional");}
</div>

<div id="candidate-education" class="candidate-group">
    @{Html.RenderPartial("_Education");}
</div>

<div id="candidate-personal" class="candidate-group">
    @{Html.RenderPartial("_Personal");}
</div>

<div id="candidate-contact" class="candidate-group">
    @{Html.RenderPartial("_Contact");}
</div>

<div id="candidate-religion" class="candidate-group">
    @{Html.RenderPartial("_Religion");}
</div>

<div id="candidate-event" class="candidate-group">
    @{Html.RenderPartial("_Events");}
</div>






