@model OhioVoter.ViewModels.Candidate.CandidateCompareProfessionalSecondViewModel

@{ if (Model.CandidateDisplayId == Model.CandidateId)
    {
        foreach (var line in @Model.CandidateProfessionalHistory)
        {
            <p>@line</p>
        }
    }
    else if (Model.CandidateDisplayId == Model.RunningMateId)
    {
        foreach (var line in @Model.RunningMateProfessionalHistory)
        {
            <p>@line</p>
        }
    }
}

