@model OhioVoter.ViewModels.Candidate.CandidateCompareDisplayViewModel


<div id="candidate_compare_summary_group" class="candidate-group">
    @{Html.RenderPartial("_CandidateCompareSummary", Model.CandidateCompareSummaryViewModel);}
</div>
@*
<div id="candidate-office" class="candidate-group">
    @{Html.RenderPartial("_CandidateCompareOfficeSummary");}
</div>

<div id="candidate-political" class="candidate-group">
    @{Html.RenderPartial("_CandidateComparePolitical", Model.CandidateComparePoliticalViewModel);}
</div>

<div id="candidate-caucus" class="candidate-group">
    @{Html.RenderPartial("_CandidateCompareCaucus", Model.CandidateCompareCaucusViewModel);}
</div>

<div id="candidate-professional" class="candidate-group">
    @{Html.RenderPartial("_CandidateCompareProfessional", Model.CandidateCompareProfessionalViewModel);}
</div>

<div id="candidate-education" class="candidate-group">
    @{Html.RenderPartial("_CandidateCompareEducation", Model.CandidateCompareEducationViewModel);}
</div>

<div id="candidate-personal" class="candidate-group">
   @{Html.RenderPartial("_CandidateComparePersonal", Model.CandidateComparePersonalViewModel);}
</div>

<div id="candidate-contact" class="candidate-group">
    @{Html.RenderPartial("_CandidateCompareContact");}
</div>

<div id="candidate-religion" class="candidate-group">
    @{Html.RenderPartial("_CandidateCompareCivic", Model.CandidateCompareCivicViewModel);}
</div>

<div id="candidate-event" class="candidate-group">
    @{Html.RenderPartial("_CandidateCompareAdditional", Model.CandidateCompareAdditionalViewModel);}
</div>
*@





