@model OhioVoter.ViewModels.Candidate.CandidateDisplayViewModel


<div id="candidate_summary_group" class="candidate-group">
    @{Html.RenderPartial("_CandidateSummary", Model.CandidateSummaryViewModel);}
</div>

@*
<div id="candidate_office_group" class="candidate-group">
    @{Html.RenderPartial("_CandidateOfficeSummary");}
</div>
*@

<div id="candidate_political_group" class="candidate-group">
    @{Html.RenderPartial("_CandidatePolitical", Model.CandidatePoliticalViewModel);}
</div>

<div id="candidate_caucus_group" class="candidate-group">
    @{Html.RenderPartial("_CandidateCaucus", Model.CandidateCaucusViewModel);}
</div>

<div id="candidate_professional_group" class="candidate-group">
    @{Html.RenderPartial("_CandidateProfessional", Model.CandidateProfessionalViewModel);}
</div>

<div id="candidate_education_group" class="candidate-group">
    @{Html.RenderPartial("_CandidateEducation", Model.CandidateEducationViewModel);}
</div>

<div id="candidate_personal_group" class="candidate-group">
   @{Html.RenderPartial("_CandidatePersonal", Model.CandidatePersonalViewModel);}
</div>

@*
<div id="candidate_contact_group" class="candidate-group">
    @{Html.RenderPartial("_CandidateContact");}
</div>
*@

<div id="candidate_religion_group" class="candidate-group">
    @{Html.RenderPartial("_CandidateCivic", Model.CandidateCivicViewModel);}
</div>

<div id="candidate_event_group" class="candidate-group">
    @{Html.RenderPartial("_CandidateAdditional", Model.CandidateAdditionalViewModel);}
</div>






