
<table>
    <tr>
        <th></th>
        <th>
            Candidate
        </th>
        <th>
            Party
        </th>
        <th>
            Office
        </th>
        <th></th>
    </tr>
    <tr>
        <td id="candidate_list_loading_message" rowspan="3" colspan="5">Retrieving new list of candidates...</td>
    </tr>
</table>
