@model OhioVoter.ViewModels.Candidate.CandidateCompareAdditionalViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p> Additional Information </p>
    </div>

    <div id="candidate_compare_additional" class="panel-body panel-main-body">

        <div id="candidate_compare_additional_first_group" class="candidate_compare_first_group">
            @{Html.RenderPartial("_CandidateCompareAdditionalFirst", Model.CandidateCompareAdditionalFirstViewModel);}
        </div>
            
        <div id="candidate_compare_additional_second_group" class="candidate_compare_second_group">
            @{if (@Model.CandidateCompareAdditionalSecondViewModel.CandidateDisplayId != 0)
                {
                    Html.RenderPartial("_CandidateCompareAdditionalSecond", Model.CandidateCompareAdditionalSecondViewModel);
                }
            }
        </div>

    </div>

</div>
