@model OhioVoter.ViewModels.Candidate.CandidateCompareEducationSecondViewModel

@{ if (Model.CandidateDisplayId == Model.CandidateId)
    {
        foreach (var line in @Model.CandidateEducationHistory)
        {
            <p>@line</p>
        }
    }
    else if (Model.CandidateDisplayId == Model.RunningMateId)
    {
        foreach (var line in @Model.RunningMateEducationHistory)
        {
            <p>@line</p>
        }
    }
}

