@model OhioVoter.ViewModels.Candidate.CandidateCompareCivicSecondViewModel

@{ if (Model.CandidateDisplayId == Model.CandidateId)
    {
        foreach (var line in @Model.CandidateCivicMemberships)
        {
            <p>@line</p>
        }
    }
    else if (Model.CandidateDisplayId == Model.RunningMateId)
    {
        foreach (var line in @Model.RunningMateCivicMemberships)
        {
            <p>@line</p>
        }
    }
}

