@model OhioVoter.ViewModels.Candidate.CandidateLookUpViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Candidate Lookup</p>
    </div>

    <div id="candidate_lookup_form" class="panel-body panel-main-body">

        @using (Html.BeginForm("Name", "Candidate", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div id="candidate_lookup_date" class="form-group">
                <p><b>Election Date:</b> @Model.VotingDate</p>
            </div>

            <div id="candidate_lookup_candidate" class="form-group">
                @*@Html.LabelFor(x => x.SelectedCandidateId, htmlAttributes: new { @id = "candidate_lookup_label", @class = "control-label" })*@
                @Html.DropDownListFor(x => x.SelectedCandidateId, Model.CandidateNames, "-- Select A Candidate --", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.SelectedCandidateId, "", new { @class = "text-danger" })
            </div>


            <div>
                <button id="candidate_lookup_btn" type="submit" class="btn btn-block panel-left-btn"> Display Candidate </button>
            </div>
        }

    </div>

</div>



