@model OhioVoter.ViewModels.Candidate.EducationViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p> Education </p>
    </div>

    <div class="panel-body panel-main-body">

        @{ if (Model.CandidateLookUpId == Model.CandidateId)
            {
                foreach (var line in @Model.CandidateEducationHistory)
                {
                    <p>@line</p>
                }
            }
            else if (Model.CandidateLookUpId == Model.RunningMateId)
            {
                foreach (var line in @Model.RunningMateEducationHistory)
                {
                    <p>@line</p>
                }
            }
        }

    </div>

</div>


