

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p> Upcoming Events </p>
    </div>

    <div class="panel-body panel-main-body">
        <p> Information goes here... </p>
    </div>

</div>


