@model OhioVoter.ViewModels.Candidate.CandidateViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p> Professional Experience </p>
    </div>

    <div class="panel-body panel-main-body">

        @{ if (Model.Candidate.CandidateLookUpId == Model.Candidate.CandidateId)
            {
                foreach (var line in @Model.Candidate.VoteSmartCandidateProfession)
                {
                    <p>@line</p>
                }
            }
            else if (Model.Candidate.CandidateLookUpId == Model.Candidate.RunningMateId)
            {
                foreach (var line in @Model.Candidate.VoteSmartRunningMateProfession)
                {
                    <p>@line</p>
                }
            }
        }

    </div>

</div>


