@model OhioVoter.ViewModels.Candidate.CandidateViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Candidate Page";
}

<div class="row">

    <div id="side-bar" class="col-sm-4">
        @{Html.RenderAction("DisplaySideBar","Location", Model.ControllerName as string);}
    </div>

    <div class="col-sm-8">

        <div class="panel-page-group">
            <h2><p class="panel-page-title"> Candidate Knowledge Center </p></h2>
        </div>

        <div id="candidate-display" class="candidate-Information">
            @{Html.RenderAction("DisplayCandidateInformation", "Candidate", Model);}
        </div>

    </div>

</div>
