@model OhioVoter.ViewModels.Candidate.CandidateViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Candidate Page";
}

<div class="row">

    <div id="side-bar" class="col-sm-4">

        <div id="voter-location">
            @{Html.RenderAction("DisplayVoterLocationSideBar", "Location", Model.SideBarViewModel);}
        </div>

        <div id="voter-general-information">
            @{Html.RenderAction("DisplayGeneralLocationSideBar", "Location", Model.SideBarViewModel);}
        </div>

    </div>

    <div class="col-sm-8">

        <div class="panel-page-group">
            <h2><p class="panel-page-title"> Candidate Knowledge Center </p></h2>
        </div>


        <div id="candidate-display" class="candidate-group">
            @{Html.RenderAction("DisplayCandidateDisplayView", "Candidate", Model);}
        </div>

        <div id="candidate-office" class="candidate-group">
            @{Html.RenderAction("DisplayCandidateOfficeView", "Candidate", Model);}
        </div>

        <div id="candidate-political" class="candidate-group">
            @{Html.RenderPartial("_Political");}
        </div>

        <div id="candidate-caucus" class="candidate-group">
            @{Html.RenderPartial("_Caucus");}
        </div>

        <div id="candidate-professional" class="candidate-group">
            @{Html.RenderPartial("_Professional");}
        </div>

        <div id="candidate-education" class="candidate-group">
            @{Html.RenderPartial("_Education");}
        </div>

        <div id="candidate-personal" class="candidate-group">
            @{Html.RenderPartial("_Personal");}
        </div>

        <div id="candidate-contact" class="candidate-group">
            @{Html.RenderPartial("_Contact");}
        </div>

        <div id="candidate-religion" class="candidate-group">
            @{Html.RenderPartial("_Religion");}
        </div>

        <div id="candidate-event" class="candidate-group">
            @{Html.RenderPartial("_Events");}
        </div>

    </div>

</div>
